#Environment
.venv

#Generated artifacts
artifacts/

#Data
data/raw
data/processed

#Python
__pycache__/
app/__pycache__

#Github
*/prompts/
*/agents/
*/instructions/
*/agents-documentation/
*/skills/
.github/copilot-instructions.md